/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

@import url("components/account.css");
@import url("components/btn.css");


body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}
.text-center {
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 50px auto;
  width: 500px;
}


